@import '../../../assets/sass/variables.scss';
@import '../../../assets/sass/mixin.scss';

form {

  .bold {
    font-weight: 700;
  }

  input {
    border: none;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
  }

  label {
    font-size: 24px;
  }

  .calendar {
    cursor: pointer;
  }

  .btn-search {
    background-color: $violet;
    color: white;
    font-weight: 700;
  }

  .disabled {
    pointer-events: none;
    cursor: default;
    background-color: $grey;
    color: black;
  }
}

.bg-p {
  background-color: $periwinkle;
}

@import '../../../assets/sass/variables.scss';
@import '../../../assets/sass/mixin.scss';

.bg-grey {
  background-color: $grey;
}

.hotel-image,
.hotel-card {
  max-width: 300px;
}

.btn-primary {
  background-color: $violet !important;
  border: none !important;
}

.hotel-row {
  flex-basis: 25%;
  max-width: 300px;
  min-height: 500px;
}
